<div class="product_container">
<ul id="products">
    <% for product in @products %>
    <li class="product" id="product_<%= product.id %>">
    <dl>
    <dt><%= link_to product.name, :action => "show", :id => product %></dt>
    <dd class="product_image"><img src='<%= "#{product.product_image}".split("public")[1] %>'></dd>
    <dd><strong>Tips:</strong> <%= product.product_type.name %></dd>
    <dd><strong>Ražotājs:</strong> <%= product.manufacturer.name %></dd>
    <dd><strong>Cena:</strong> $<%= sprintf("%.2f", product.price) %></dd>
    <dd class="product_add"><%= add_product_link("Pievienot grozam", product) %></dd>
    </dl>
    </li>
    <%= draggable_element("product_#{product.id}", :revert => true) %>
    <% end %>
</ul>
</div>