<% provide(:title, 'Par Mums') %>
<h1>Par Mums</h1>
<p>Īsi un kodolīgi sakot &#8211; mēs esam vienkārši viens foršs interneta veikals, kas atbalsta godīgu cenu politiku. Tādēļ arī nosaukums &#8220;Visiem Labi&#8221;!</p>
<p>Šobrīd esam pavisam jauns veikals, tāpēc preču sortiments vēl pagaidām ir mazs, bet esam optimisti un ceram, ka tas pavisam drīz kļūs lielāks. Mūsu piedāvājumā ir paredzētas dažnedažādas oriģinālas un jestras dāvanas, spēles, interjera priekšmeti, laika kavēkļi un daudz kas cits. Mēs noteikti arī priecātos dzirdēt Jūsu ieteikumus, kādas lietas Jūs vēlētos pie mums iegādāties lētāk nekā citos interneta veikalos.</p>
<p>Ar ko mēs atšķiramies no konkurentiem?<br />
  Galvenā atšķirība ir piedāvājuma cena, kas ir ievērojami zemāka un pircēja maciņam daudz draudzīgāka.</p>
<p>Kā mēs to panākam?</p>
<ol>
  <li>Minimālas administrācijas izmaksas;</li>
  <li>Gandrīz nekāda maksas reklāma, jo, nebūsim naivi, par visu galu galā samaksā pircējs;</li>
  <li>Iepērkam un tirgojam tikai pieprasītākās un perspektīvākās preces.</li>
</ol>
<p>Novēlam jauku dienu un patīkamu iepirkšanos mūsu veikalā,<br />
  visiemlabi.lv</p>