<% provide(:title, 'Kontakti') %>
<h1>Kontakti</h1>
<div>
  <strong>SIA &quot;Davanas Visiem&quot;</strong>
  <br/><br/>
  Reģ.Nr. PVN LV40003232363
  <br/><br/>
  Biroja adrese:
  <br/> Elizabetes iela 45/47 (439.kab.), Rīga,&nbsp;LV-1010
  <br/><br/> Tālr./fakss: +371612127232633
  <br/> mob.tel.: +3712923231217
  <br/>E-pasts:<a href="mailto:address@email.com">address@email.com</a>
  </div>

<div>
  <iframe width="425" height="350" frameborder="0" scrolling="No" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=lv&amp;geocode=&amp;q=elizabetes+45%2F47,+riga&amp;sll=56.952738,24.129747&amp;sspn=0.031032,0.07699&amp;ie=UTF8&amp;hq=&amp;hnear=45+Elizabetes+iela,+R%C4%ABga+1010,+Latvija&amp;z=14&amp;ll=56.963602,24.117393&amp;output=embed">
  </iframe>
  <br/>
  <small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=lv&amp;geocode=&amp;q=elizabetes+45%2F47,+riga&amp;sll=56.952738,24.129747&amp;sspn=0.031032,0.07699&amp;ie=UTF8&amp;hq=&amp;hnear=45+Elizabetes+iela,+R%C4%ABga+1010,+Latvija&amp;z=14&amp;ll=56.963602,24.117393" style="color:#0000FF;text-align:left">Skatīt lielāku karti</a></small>

</div>
