<footer class="footer">
  <small>

  </small>
  <nav>
    <ul>
      <li><%= link_to "Par Mums",   about_path %></li>
      <li><%= link_to "Kontakti", contact_path %></li>
    </ul>
  </nav>
</footer>