<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Emporium&trade;".html_safe, root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Katalogs",   catalog_path %></li>
          <li><%= link_to "Par Mums", about_path %></li>
          <li><%= link_to "Kontakti",   contact_path %></li>
          <li><a href="/admin">Admin Panelis</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>